<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>55</integer>
	<key>Time Stamp</key>
	<real>1651117134.0999479</real>
	<key>UUID</key>
	<string>B8C81AB2-5B4A-4AB1-9C58-A19707353617</string>
</dict>
</plist>
