<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>55</integer>
	<key>Time Stamp</key>
	<real>1651033684.2427721</real>
	<key>UUID</key>
	<string>E73AD6D3-4D35-43B6-B76E-960E4D89206F</string>
</dict>
</plist>
